In [1]:
import pandas as pd

In [9]:
nbabias = pd.read_excel('Mean Point guard.xlsx')

In [10]:
nbabias

,NBA Team,Usage Rate,Points,Rebounds,Assists,Minutes Played,TeamFG%,TeamFG,TeamFGA,Team PPG
0,Boston,34.700000,29.800000,2.700000,5.600000,33.800000,0.445961,39.20,87.900000,105.40
1,Boston Away,33.800000,28.000000,2.400000,6.200000,33.800000,0.430108,36.00,83.700000,105.30
2,Cleveland,29.200000,24.400000,3.300000,6.600000,34.400000,0.445067,39.70,89.200000,104.60
3,Cleveland Away,32.500000,26.100000,3.000000,5.000000,35.700000,0.470056,41.60,88.500000,109.80
4,Toronto,23.900000,21.800000,4.600000,7.000000,37.500000,0.446281,37.80,84.700000,103.20
...,...,...,...,...,...,...,...,...,...,...
57,LAL Away,27.000000,14.600000,3.200000,4.600000,28.300000,0.486175,42.20,86.800000,113.80
58,Phoenix,28.500000,22.100000,4.900000,7.000000,34.100000,0.459054,39.80,86.700000,111.90
59,Phoenix Away,28.400000,20.000000,4.800000,5.700000,31.800000,0.474359,40.70,85.800000,114.70
60,Mean Point Guard,25.776667,18.463333,4.286667,6.653333,31.583333,0.451292,38.59,85.510000,104.02
61,MPG Away,26.280000,18.153333,4.210000,6.176667,31.656667,0.477814,39.46,82.584375,107.17

In [18]:
nbabias.describe()

,Usage Rate,Points,Rebounds,Assists,Minutes Played,TeamFG%,TeamFG,TeamFGA,Team PPG
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,26.028333,18.308333,4.248333,6.415000,31.620000,0.457114,39.025000,85.370877,105.595000
std,5.643723,6.509632,1.886678,1.984324,3.707986,0.014395,1.823215,2.916143,4.430649
min,14.400000,6.200000,1.500000,3.000000,24.300000,0.430108,33.900000,77.500000,94.800000
25%,22.250000,13.350000,3.225000,5.000000,29.100000,0.448420,37.875000,83.550000,102.975000
50%,26.350000,18.050000,3.950000,6.138333,32.500000,0.456287,39.100000,85.555000,105.700000
75%,29.000000,23.000000,4.675000,7.150000,34.325000,0.467137,40.075000,87.475000,109.075000
max,42.900000,32.100000,10.700000,11.400000,37.500000,0.486452,42.500000,90.900000,115.100000